# Editor-specific
.idea/
*.iml
*.sublime-project
*.sublime-workspace
.settings
.vscode

# Installed libs
node_modules/
typings/

# Generated
dist/
.tshy-build

# Import location artifacts
packages/rxjs/ajax/
packages/rxjs/fetch/
packages/rxjs/operators/
packages/rxjs/testing/
packages/rxjs/webSocket/

# Copied Package Files
packages/**/LICENSE.txt
packages/**/CODE_OF_CONDUCT.md

# Misc
npm-debug.log
.DS_STORE
*.tgz
.eslintcache
package-lock.json

integration/import/**/rx.json
integration/import/**/operators.json


.nx/cache