# Editor-specific
.idea/
*.sublime-project
*.sublime-workspace
.settings
.vscode

# Installed libs
node_modules/
typings/

# Generated
dist/
tmp/
coverage/
img/
spec-js/
.nyc-output/

# Misc
npm-debug.log
.DS_STORE
