/* Colors:
@reactivex-pink:  #EC0C8E;
@reactivex-pinkle:#B7178C;
@reactivex-purple:#592D89;
@reactivex-blue:  #3c71c4;
@reactivex-grass: #20993c;
@reactivex-green: #26de5a;
@reactivex-yellow:#ffcb47;
@reactivex-red:   #de4c28;
*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700);
@import url(https://fonts.googleapis.com/css?family=Signika);
@import url(https://fonts.googleapis.com/css?family=Kalam);

html {
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  color: #B7178C;
}

hr {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom: 1px solid #ddd;
}

h1,h2,h3,h4 {
  padding-top: 10px !important;
}

body {
  display: none;
}

body.light-theme,
body.dark-theme {
  display: block;
}
/* Top nav bar border bottom */
.layout-container > header {
  position: fixed;
  background-color: #333;
  box-sizing: border-box;
  border-bottom: 0;
}

body.light-theme.layout-container > header {
  border-bottom: 1px solid #EAEAEA;
  background-color: #EFEFEF;
}

.layout-container > header:before {
  content: 'RxJS';
  font-family: 'Signika', 'Roboto', sans-serif;
  background-image: url('../../manual/asset/Rx_Logo_S.png');
  width: 150px;
  height: 40px;
  color: #EC0C8E;
  font-size: 20px;
  background-size: auto 25px;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-right: 5px;
}

.layout-container > header a {
  color: #777;
}
.layout-container > header a:hover, .layout-container > header a:active {
  color: #FFF;
}
body.light-theme .layout-container > header a:hover, .layout-container > header a:active {
  color: #EC0C8E;
}

.layout-container > header > a.repo-url-github {
  -webkit-filter: brightness(20);
  filter: brightness(20);
}

body.light-theme.layout-container > header > a.repo-url-github {
  -webkit-filter: brightness(5);
  filter: brightness(5);
}

.search-input {
  color: #FFF;
  font-size: 14px;
  border-color: #EC0C8E;
}

body.light-theme .search-input {
  color: #333;
}

.search-input-edge {
  background-color: #EC0C8E;
  display: none;
}

.search-result li.selected {
  color: #FFF;
}

body.light-theme .search-result li.selected {
  background: transparent !important;
  color: #EC0C8E;
}

.search-box img {
  -webkit-filter: brightness(1.7);
  filter: brightness(1.7);
  margin-right: 5px;
}

/* Navigation side menu */
body.light-theme .navigation, body.dark-theme .navigation {
  box-shadow: none;
  border-right: none;
  padding: 10px 0;
  margin-top: 40px;
  height: calc(100% - 40px);
  background-color: #333;
  padding: 10px;
}

body.light-theme .navigation {
  background-color: transparent;
}

.navigation a {
  color: #BBB;
}
body.light-theme .navigation a {
  color: #777;
}

.navigation a:hover {
  color: #FFF;
}
body.light-theme .navigation a:hover {
  color: #EC0C8E;
}

.navigation .manual-toc-title {
  padding: 0.5em;
}
body.light-theme .navigation .manual-toc-title {
  border-radius: 3px;
}

.manual-dot {
  display: none;
}

.manual-toc .indent-h1 {
  margin-left: 1em;
}
.manual-toc .indent-h2 {
  margin-left: 2em;
}
.manual-toc .indent-h3 {
  margin-left: 3em;
}
.manual-toc .indent-h4 {
  margin-left: 4em;
}

ul.manual-toc {
  padding-right: 0.5em;
}

.manual-toc [class^="indent-"] {
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: #bbb;
  white-space: nowrap;
}

.inner-link-active {
  border-bottom: 6px solid #EC0C8E;
  background: inherit;
}

a:hover {
  color: #EC0C8E;
}

/* Content */
.rx-title {
  color: #EC0C8E;
  font-family: 'Signika', 'Roboto', sans-serif;
}
.rx-title > img {
  box-shadow: none !important;
  max-height: 1.3em;
  margin-bottom: -0.25em;
  margin-right: 0.3em;
}

.content {
  padding: 20px 60px 20px 30px;
  overflow-y: scroll;
  height: calc(100vh - 40px);
  box-sizing: border-box;
}

.content .detail {
  font-size: 16px;
}

.content .detail + .detail {
  margin-top: 75px;
}

.content .detail p img {
  max-width: 640px;
}

.github-markdown pre > code {
  line-height: 1.5em;
  margin: 22px 0;
  padding: 10px;
  border-radius: 3px;
}

.github-markdown ol {
  margin-bottom: 15px;
}

code.lang-none span {
  color: #4d4d4c;
}

.informal {
  display: block;
  padding-left: 1.3em;
  border-left: 5px solid #dfdfdf;
  font-size: 1.1em;
  font-family: 'Kalam', cursive;
  margin: 22px 0;
}

/* Params table styling */
table.params thead {
  background: none;
  color: inherit;
  font-weight: 600;
}

table.params ul {
  padding: 0;
}

table.params ul li {
  list-style: none;
}

table.params td {
  padding: 4px 8px;
}

table.params td:first-child {
  border-left: none;
}

table.params td:last-child {
  border-right:  none;
}

table.params thead td {
  border-top: none;
}

table.params tbody tr:last-child td {
  border-bottom: none;
}

.informal {
  display: block;
  padding-left: 1.3em;
  border-left: 5px solid #dfdfdf;
  font-size: 1.1em;
  font-family: 'Kalam', cursive;
  margin: 22px 0;
}

/* Operator Decision Tree styling */
.decision-tree-widget ul {
  padding-left: 0;
  display: inline-block;
}

.decision-tree-widget ul li{
  margin: 10px 0;
  list-style: none;
}

.decision-tree-widget ul li:hover {
  cursor: pointer;
  color: #EC0C8E;
}

.decision-tree-widget ul li::before {
  display: inline-block;
  background: #B7178C;
  width: 10px;
  content: '';
  height: 10px;
  border-radius: 20px;
  margin-bottom: -5px;
  margin-right: 8px;
  border: 6px #EEEEEE solid;
}

.decision-tree-widget ul li:hover::before {
  background: #EC0C8E;
}

.decision-tree-widget .current-sentence {
  font-weight: bold;
  line-height: 1.7em;
}

.decision-tree-widget .undo {
  padding: 4px;
  margin: 8px;
  border: 1px solid #B7178C;
  color: #B7178C;
}

.decision-tree-widget .undo:hover {
  cursor: pointer;
  border: 1px solid #EC0C8E;
  color: #EC0C8E;
}

.decision-tree-widget .reset {
  padding: 4px;
  color: #B7178C;
}

.decision-tree-widget .reset:hover {
  cursor: pointer;
  color: #EC0C8E;
}

.decision-tree-widget ul h4.decision {
  margin: 10px 0;
}

.footer {
  position: fixed;
  top: calc(100% - 28px);
  margin: 0;
  width: auto;
  padding: 5px;
  background: #FAFAFA;
  border: 1px solid #EAEAEA;
  right: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* CODE */
code .kwd {
  color: #a71d5d;
}

code .str {
  color: #df5000;
}

code .typ {
  color: #795da3;
}

code .lit {
  color: #0086b3;
}

/* THEMES */
.theme-toggler {
  display: inline-block;
  line-height: 30px;
  margin: 5px;
  color: #777;
  border-left: 3px solid #444;
}

body.light-theme .theme-toggler {
  border-left: 3px solid #CCC;
}

.theme-selector {
  font-weight: normal;
  cursor: pointer;
  padding: 0 5px;
}

.theme-selector:first-child {
  margin: 0 10px;
}

body.dark-theme .theme-selector.dark,
body.light-theme .theme-selector.light {
  font-weight: bold;
  border-bottom: 1px solid #B7178C;
}
