// import global themes
@import '~@angular/material/theming';
@import './rxjs-theme';

// import global variables
@import './constants';

// import global mixins
@import './mixins';

// import directories
@import './0-base/base-dir';
@import './1-layouts/layouts-dir';
@import './2-modules/modules-dir';
