/* Colors:
@reactivex-pink:  #EC0C8E;
@reactivex-pinkle:#B7178C;
@reactivex-purple:#592D89;
@reactivex-blue:  #3c71c4;
@reactivex-grass: #20993c;
@reactivex-green: #26de5a;
@reactivex-yellow:#ffcb47;
@reactivex-red:   #de4c28;
*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700);
@import url(https://fonts.googleapis.com/css?family=Signika);
@import url(https://fonts.googleapis.com/css?family=Kalam);

html {
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  color: #B7178C;
}

/* Top nav bar border bottom */
.layout-container > header {
  background-color: #333;
  border-bottom: none;
}

.layout-container > header a {
  color: #777;
}
.layout-container > header a:hover, .layout-container > header a:active {
  color: #fff;
}

.layout-container > header > a.repo-url-github {
  -webkit-filter: brightness(20);
  filter: brightness(20);
}

.search-box img {
  -webkit-filter: brightness(1.7);
  filter: brightness(1.7);
}

.search-input {
  border-color: #EC0C8E;
  color: #fff;
}
.search-input-edge {
  background-color: #EC0C8E;
}

/* Navigation side menu */
.navigation {
  background-color: #333;
  box-shadow: none;
  border-right: none;
}

.navigation a {
  color: #bbb;
}
.navigation a:hover {
  color: #fff;
}

.navigation .manual-toc-title {
  padding: 0.5em;
}

.manual-dot {
  display: none;
}

.manual-toc .indent-h1 {
  margin-left: 1em;
}
.manual-toc .indent-h2 {
  margin-left: 2em;
}
.manual-toc .indent-h3 {
  margin-left: 3em;
}
.manual-toc .indent-h4 {
  margin-left: 4em;
}

ul.manual-toc {
  padding-right: 0.5em;
}

.manual-toc [class^="indent-"] {
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: #bbb;
  white-space: nowrap;
}

.inner-link-active {
  border-bottom: 6px solid #EC0C8E;
  background: inherit;
}

a:hover {
  color: #EC0C8E;
}

/* Content */
.rx-title {
  color: #EC0C8E;
  font-family: 'Signika', 'Roboto', sans-serif;
}
.rx-title > img {
  box-shadow: none !important;
  max-height: 1.3em;
  margin-bottom: -0.25em;
  margin-right: 0.3em;
}

.content .detail {
  font-size: 16px;
}

.content .detail + .detail {
  margin-top: 75px;
}

.content .detail p img {
  max-width: 640px;
}

.github-markdown pre > code {
  line-height: 1.5em;
  margin: 22px 0;
}

.github-markdown ol {
  margin-bottom: 15px;
}

code.lang-none span {
  color: #4d4d4c;
}

.informal {
  display: block;
  padding-left: 1.3em;
  border-left: 5px solid #dfdfdf;
  font-size: 1.1em;
  font-family: 'Kalam', cursive;
  margin: 22px 0;
}

/* Params table styling */
table.params thead {
  background: none;
  color: inherit;
  font-weight: 600;
}

table.params ul {
  padding: 0;
}

table.params ul li {
  list-style: none;
}

table.params td {
  padding: 4px 8px;
}

table.params td:first-child {
  border-left: none;
}

table.params td:last-child {
  border-right:  none;
}

table.params thead td {
  border-top: none;
}

table.params tbody tr:last-child td {
  border-bottom: none;
}
