.migration-timeline-navigation {
  .navigation-item:hover,
  .navigation-item:focus{

  }
  .is-official {
    margin: 2px;
    color: rgba(0, 0, 0, 0.57);
    background-color: #f1f1f1;
  }
}

.migration-timeline {
  .release {
    background: transparent;
    box-shadow: none !important;
    &.selected{
      .migration-timeline-item-header-title {
        color: mat-color($rxjs-primary) !important;
        font-weight: bold;

        .mat-icon {
          color: mat-color($rxjs-primary) !important;
        }
      }
    }


  }


}


.release-link {
  text-transform: none !important;
}

.migration-section-headline {
  padding-left: 35px;
  position: relative;
  .mat-icon {
    position: absolute;
    left: 0;
    top: -3px;
  }
}

.migration-section {
  margin-bottom: 15px;

  &.selected {
    border: 1px solid mat-color($rxjs-primary);
  }

  .migration-headline .mat-card-title {
    font-size: 18px;
  }

  .mat-card-header-text {
    margin: 0;
  }

  .mat-expansion-panel-header .mat-icon {
    font-size: 20px;
    color: $darkgray;
  }

  table {
    width: 100%;

    th.subject {
      text-transform: none;
      position: relative;
      padding-left: 35px;

      .symbol {
        margin-right: 5px;
        left: 15px;
        position: absolute;
        top: 17px;
      }

      code {
        border: 1px solid #DBDBDB;
        background-color: #FAFAFA;
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }

  &.empty .mat-card-title {
    margin-bottom: 0px;
  }

}


