.shield {
  font-size: 14px;
  border-radius: 4px;
  overflow: hidden;

  .label,
  .version {
    padding: 3px 4px 4px;
  }

  .label {
    background: $darkgray;
    color: #fff;
  }

  .version {
    background: $blue-500;
    color: #fff;
    padding-right: 5px;
  }
}
